@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
      format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: Phantom Sans, helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #DDDAC7;
  color: #4D4E4E;
  
}

h1 {
  font-style: bold;
  font-size: 4em;
  margin-block-end: 0.27em;
}

.col-3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.col-3{
  background-color: #EBEBEB;
  border-radius: 6px;
  border: 1.5px solid #4D4E4E;
}

.card-container {
  padding: 2px 16px;
}

.header{
  margin: 0.5rem 0.5rem;
}

h4{
  margin-block-end: 0.3em;
  margin-block-start: 14px;
  font-size: 1.3em;
}

p{
  line-height: 1.6;
}

button{
  min-width: 25%;
  background: #535352;
  color: white;
  padding: 7px 8px;
  margin: 8px 0;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

button:hover{
  transition: 0.3s;
  font-weight: bold;
  background: linear-gradient(135deg, rgba(98,187,71,1) 0%, rgba(98,187,71,1) 16.6%, rgba(252,184,39,1) 16.7%, rgba(252,184,39,1) 33.2%, rgba(246,130,31,1) 33.3%, rgba(246,130,31,1) 49.8%, rgba(224,58,60,1) 50%, rgba(224,58,60,1) 66.6%, rgba(150,61,151,1) 66.7%, rgba(150,61,151,1) 82.6%, rgba(0,157,220,1) 82.7%, rgba(0,157,220,1) 100%);
}

input{
  min-width:100%;
  text-align: left;
}

input[type=text], select {
  padding: 14px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

hr {
  display: block;
  margin-block-start: 0.1em;
  margin-block-end: -0.3em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border-top-style: inset;
  border-top-width: 1px;
}